[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ProAE"]
	path = ProAE
	url = https://github.com/cran/ProAE
	shallow = true
	registered = true
